<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    description: 打卡记录 Mapper
    author: shiloh
    date: 2024/9/29 14:37
-->
<mapper namespace="org.shiloh.mapper.AttendanceRecordMapper">
    <!--region CUD-->

    <insert id="insert" parameterType="attendanceRecord">
        insert into t_attendance_record(id, user_id, username, dept_id, clock_in_time, remark)
        values (#{record.id}, #{record.userId}, #{record.username}, #{record.deptId}, #{record.clockInTime},
                #{record.remark})
    </insert>

    <delete id="delete">
        delete
        from t_attendance_record
        where id = #{id}
          and dept_id = #{deptId}
          and clock_in_time = #{clockInTime}
    </delete>

    <update id="update" parameterType="attendanceRecord">
        update t_attendance_record
        <set>
            <if test="record.userId != null">
                user_id = #{record.userId},
            </if>
            <if test="record.username != null and record.username != ''">
                username = #{record.username},
            </if>
            <if test="record.remark != null and record.remark != ''">
                remark = #{record.remark}
            </if>
        </set>
        where id = #{record.id}
        and dept_id = #{record.deptId}
        and clock_in_time = #{record.clockInTime}
    </update>

    <!--endregion-->

    <!--region R-->

    <select id="selectAll" resultType="org.shiloh.entity.AttendanceRecord">
        select *
        from t_attendance_record
        where dept_id = #{deptId}
          and clock_in_time between #{clockInTimeStart} and #{clockInTimeEnd}
    </select>

    <select id="selectOne" resultType="attendanceRecord">
        select *
        from t_attendance_record
        where id = #{id}
          and dept_id = #{deptId}
          and clock_in_time = #{clockInTime}
    </select>

    <!--endregion-->
</mapper>